body {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  }

.container{
    margin: 15px;
    width: 100%;    
}

.inputt{
    margin: 5px;
}

.a{
    text-decoration: none;
}

.button1 {
    background-color: aliceblue(500);
    padding: 5px;
    font-size: large;
    border-radius: 10px;
    color: gray;
    border-color: aliceblue;
}